<ion-header>
  <ion-toolbar>
    <ion-title>
      Event
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img *ngIf="entry.title.toLowerCase() == 'assessment'" src="{{entryType[0]}}">
        <img *ngIf="entry.title.toLowerCase() == 'presentation'" src="{{entryType[1]}}">
        <img *ngIf="entry.title.toLowerCase() == 'assignment'" src="{{entryType[2]}}">
        <img *ngIf="entry.title.toLowerCase() == 'event'" src="{{entryType[3]}}">
        <img *ngIf="entry.title.toLowerCase() == 'report'" src="{{entryType[4]}}">
      </ion-avatar>
      <h2>{{entry.module | uppercase}}</h2>
      <p>{{entry.title}}</p>
      <span *ngIf="checkOverdue(entry)" class="overdue" item-end>Overdue</span>
    </ion-item>

    <ion-item>
      Lecturer
      <ion-note item-end>
        {{entry.lecturer}}
      </ion-note>
    </ion-item>

    <ion-item>
      Room
      <ion-note item-end>
        {{entry.room}}
      </ion-note>
    </ion-item>

    <ion-item>
      Date Due
      <ion-note item-end>
        {{entry.dueDate | date: 'EEEE, MMMM d'}}
      </ion-note>
    </ion-item>

    <ion-item>
      Time
      <ion-note item-end>
        {{entry.dueDate | date: 'HH:mm a'}}
      </ion-note>
    </ion-item>

    <ion-item>
      Percentage
      <ion-note item-end>
        {{entry.percentage}}%
      </ion-note>
    </ion-item>

    <ion-item>
      Notes:
      <div>
        <h3>{{entry.description}}</h3>
      </div>
    </ion-item>
  </ion-list>
</ion-content>