.navbarLogo {
    height: 40px;
    float: left;
    margin-left: 10px;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 33.333%;
    width: 100%;
    margin: auto;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: map-get($colors, light);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: map-get($colors, light);
  }

  .timetable {
    background-color: map-get($colors, energy);
  }

  .chat {
    background-color: map-get($colors, lightprimary);
  }

  .diary {
    background-color: map-get($colors, secondary);
  }

}