page-diary {
  ion-note {
    font-size: 16px;
  }

  ion-item {
    border: 2px solid black;
  }

  .subject {
    display: inline;
    padding-left: 10px;
  }

  .inline {
    display: inline-block;
  }

  .desc {
    width: 50%;
    right: 0;
    position: absolute;
    display: inline-block;
  }
}