h1{
    font-family:Arial;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    font-size:0.8em;
    font-family:Arial;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: rgb(243, 243, 243); 
  }
  tr:nth-of-type(even) { 
    background: white; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }