<ion-header>
    <ion-navbar>
        <ion-title>Diary</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addEvent()">
                <ion-icon name="md-add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">

    <ion-list>

        <ion-item (click)="openModal({entry: entry})" *ngFor="let entry of entries">
            <ion-avatar item-start>
                <img *ngIf="entry.title.toLowerCase() == 'assessment'" src="{{entryType[0]}}">
                <img *ngIf="entry.title.toLowerCase() == 'presentation'" src="{{entryType[1]}}">
                <img *ngIf="entry.title.toLowerCase() == 'assignment'" src="{{entryType[2]}}">
                <img *ngIf="entry.title.toLowerCase() == 'event'" src="{{entryType[3]}}">
            </ion-avatar>
            <h2>{{entry.dueDate | date: 'EEEE, MMMM d, h:mm a'}}</h2>
            <h3>{{entry.module | uppercase}}</h3>
            <p>{{entry.title}}</p>
        </ion-item>

    </ion-list>

</ion-content>