<ion-header>

  <ion-navbar>
    <ion-title>Add entry</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="title">
        <ion-option value="assessment">Assessment</ion-option>
        <ion-option value="presentation">Presentation</ion-option>
        <ion-option value="report">Report</ion-option>
        <ion-option value="assignment">Assignment</ion-option>
        <ion-option value="event">Event</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Module</ion-label>
      <ion-select [(ngModel)]="module"><!--(ngModelChange)="filterGroups($event)"-->
        <ion-option *ngFor="let module of modules" [value]="module" >{{module.name | uppercase}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item *ngIf="module != null">
      <ion-label>Group</ion-label>
      <ion-select [(ngModel)]="groups">
        <ion-option *ngFor="let group of module.groups" ngValue="group" >{{group\ | uppercase}}</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="description" name="notes"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Room</ion-label>
      <ion-input type="text" [(ngModel)]="room" name="room"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Due Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="dueDate" name="dueDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="time" name="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Percentage</ion-label>
      <ion-input type="text" [(ngModel)]="percentage" name="percentage"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="logModule()" full round>Save</button>
    </ion-item>
  </ion-list>
</ion-content>